<section class="section is medium has-text-centered">


    <h class="title is-3 is-uppercase ">
      Do bigger breweries get more positive reviews ?
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>It may seem quite straightforward that the size of the brewery reviewed tends to bias the way in which the product is judged. Similarly to the ratings, one might expect positive and negative sentiments for small breweries to exhibit a relatively even distribution, ranging from very negative to very positive, influenced by different tastes and potentially more divisive flavour profiles. In contrast, for large breweries with a global presence, one might expect a tighter grouping of sentiment, indicating more refined and well-executed products.</p>
                </div>
         </div>
    </div>
    <div class="has-text-centered">
        <img src="{{site.baseurl}}/assets/plot/figures/avg_compound_score_vs_size.png" style="margin: 1px; width: 35%; height: 40%;" >
    </div>
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>the compound score derived from the <b>VADER</b> sentiment analysis. The composite score, ranging from -1 (indicating predominantly negative comments) to 1 (representing positive reviews), tends to show a broader spectrum for smaller breweries. This variation suggests that <b>reviews of smaller breweries cover a continuum of sentiment</b>, including both highly positive and potentially more critical comments.</p>
                <p>In contrast, larger breweries tend to show a more focused trend of sentiments in their reviews. The average composite score for these establishments often approaches 1, indicating a prevalence of positivity in the overall sentiment expressed. This could mean that larger breweries receive a higher percentage of positive reviews on average, helping to consolidate sentiment towards the positive end of the spectrum. <b>The narrower range of scores suggests a more consistent pattern in the reviews of larger breweries, potentially indicating a more uniformly positive perception among customers</b> . The positivity perceived in reviews therefore seems to be very similar in terms of tendency to the rating.</p>
            </div>
         </div>
    </div>





  </section>