<section class="section is medium has-text-centered">

    <h class="title is-3 is-uppercase ">
      Does breweries size impact on their "basin of attraction"?
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>Moving forward into our story, our next focus is to explore the <b>relative distance between the reviewer and the brewery for each review</b>. This analysis aims to provide insights into <b>how the popularity of a brewery is distributed globally.</b></p>
                <p>The idea is to try to discern whether a small local brewery receives a majority of reviews from nearby users, or whether a world-renowned brewery receives international reviews, resulting in a higher average distance.</p>
                <p>Since the vast majority of the reviewers are located in the USA, we restrain this analysis by considering only the breweries on the american ground. This is is necessary since the non-american breweries received most of their reviews from american people and thus their distance would be bigger.</p>
            </div>
         </div>
    </div>
    <div class="has-text-centered">
        <img src="{{site.baseurl}}/assets/plot/figures/avg_review_distance_wrt_size_for_size_categories.png" style="margin: 1px; width: 35%; height: 40%;" >
    </div>
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>The resulting plot is very interesting. We can see that a big portion of the small breweries has a mean distance to their reviewer close to zero, meaning that their reviewers are living in the same state. This is not the case for larger breweries, that seem to attract a more global panel of reviewers.</p>
                <p>It would be interesting to see now if all these results holds over the years...</p>
            </div>
         </div>
    </div>

  </section>