<section class="section is medium has-text-centered", id="Case">
    <h class="title is-2 is-uppercase ">
      From small to big, a trip into the growth of a brewery
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
<!--                <p>Firstly, we would like to understand if there is any perceivable correlation between the size of the brewery and the rating obtained by its products.</p>-->
                </div>
         </div>
    </div>
    <div class="has-text-centered">
<!--        <img src="{{site.baseurl}}/assets/plot/figures/average_rating_vs_size.png" style="margin: 1px; width: 40%; height: 40%;" ></div>-->


  </section>