<section class="section is medium has-text-centered", id="Case">
    <h class="title is-3 is-uppercase ">
      Have these results always been true?
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>It is now legitimate to question the temporal robustness of these results. Can the same conclusion be drawn by picking three different years randomly, for example \(2005\), \(2010\) and \(2016\)?</p>
            </div>
         </div>
    </div>
    <div class="has-text-centered">
        <img src="{{site.baseurl}}/assets/plot/figures/division_small_medium_big_breweries_division_years.png" style="margin: 1px; width: 80%; height: 40%;" ></div>
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>By performing the same hypothesis testings, we can see that same results apply for every year taken into account.</p>
            </div>
         </div>
    </div>
    <div class="has-text-centered">
        <img src="{{site.baseurl}}/assets/plot/figures/review_distance_wrt_size_year.png" style="margin: 1px; width: 80%; height: 40%;" ></div>
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>However, it is true that nothing remains steady over the years. The market evolves, new breweries can rise, large breweries can fail, small ones can grow.</p>
            </div>
         </div>
    </div>
    <div class="has-text-centered">
        <img src="{{site.baseurl}}/assets/plot/figures/temporal_evolution_of_small_breweries.png" style="margin: 1px; width: 50%; height: 40%;" ></div>
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>If we pick a brewery that was small in the beginning, and that experienced than a huge growth all over the period taken into account, can we measure any evolution in ratings and basin of attraction?</p>
            </div>
         </div>
    </div>


     <h class="title is-3 is-uppercase ">
      From small to big, a trip into the growth of a brewery
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>Let's look at the evolution of one brewery that started its journey on the rating website as a Rookie, and finished among the big fish. This is the case of Firestone Walker Brewing Co., who started in the small category and became one of the biggest.</p>
                <p>How its average rating and the distance of its reviewers has evolved over the years?</p>
            </div>
         </div>
    </div>
    <div class="has-text-centered">
        <img src="{{site.baseurl}}/assets/plot/figures/FirestoneWalkerBrewing.png" style="margin: 1px; width: 80%; height: 40%;" ></div>
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>For the first year taken into account, the brewery is still "small" (green area). Afterwards, the brewery experience \(5\) years as a "medium-sized" company (blue area), by finally becoming "large" after \(2008\).</p>
                <p>We can clearly see that the average rating of this brewery experiences a monotone growth untill it becomes "large", stabilizing afterwards in a sort of plateau. On the other hand, the average distance of reviewers curve has a less straightforward trend, experiencing some up and downs all over the years. However, the general behaviour is still an increasing one also in this case. As its size increased, the fame of the brewery spread around and its famous beers started to attract reviewers from every corner of the country.</p>
            </div>
         </div>
    </div>
  </section>