<section class="section is medium has-text-centered">
    <h class="title is-3 is-uppercase ">
      ToDoLeGAx team line-up
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>In order to accomplish the goal, the Board of Directors at ToDoLeGAx SA. decided to create a new task force, specifically designed for this project. Here is the line-up of our team:</p>
                <ul>
                    <li>Dong Chu: <a href="https://github.com/dchu9" target="_blank">@DongChu</a>, Head of the Web Development department</li>
                    <li>Leonardo Trentini: <a href="https://github.com/leotrentini22" target="_blank">@LeonardoTrentini</a>, intern in the Web Development department</li>
                    <li>Gabriele D'Angeli: <a href="https://github.com/gabrieledangeli" target="_blank">@GabrieleDAngeli</a>, senior engineer of the NLP department</li>
                    <li>Tom Fahndrich: <a href="https://github.com/tomfahndrich" target="_blank">@TomFahndrich</a>, senior R&D engineer in the Data analysis department</li>
                    <li>Axel Beguelin: <a href="https://github.com/AxelBegue" target="_blank">@AxelBeguelin</a>, junior R&D engineer in the Data analysis department</li>
                </ul>
            </div>
         </div>
    </div>
</section>