<div>
    <iframe src="https://youtube.com/embed/4aQwT3n2c1Q" height="315" width="560" allowfullscreen="" frameborder="0">
    </iframe>
    <iframe src="www.bing.com" width="750px" height="530px" frameborder="0" position="relative">Genre plot</iframe>
</div>
<!--<section class="hero is-fullheight has-text-centered" id="contact">-->
<!--    &lt;!&ndash;<iframe src="_includes/wordCloud.html" width="750px" height="530px" frameborder="0" position="relative">Genre plot</iframe>&ndash;&gt;-->
<!--    <iframe src="www.bing.com" width="750px" height="530px" frameborder="0" position="relative">Genre plot</iframe>-->
<!--</section>-->
