<section class="section is medium has-text-centered", id="Introduction">
    <h class="title is-3 is-uppercase ">
      Introduction
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left">
                <p>Customers are increasingly relying on <b>product rating</b> websites to inform their purchasing decisions. It has been demonstrated that when customers rate a product, they often exhibit a <b>tendency to be influenced by the previous ratings</b> of other customers, a phenomenon known as the <b><i>herding effect</i></b>.</p>
                <p>Despite this, an unresolved research question revolves around comprehending <b>how ratings might be impacted by the scale of the vendor</b>. In order to try to answer rapidly to this question, the new Dean at EPFL decided to outsource the task to a brand-new data science spinoff of the University, the ToDoLeGAx Inc. Utilizing data sourced from beer reviews websites, ToDoLeGAx's objective is to investigate the <b>connection</b> between the <b>size of vendors</b> (specifically, breweries) and the <b>perceived quality</b> of their products.</p>
             <p>Through the quantification of brewery size and popularity using <b>predefined metrics</b> and the <b>extraction of sentiment</b> from textual reviews, we want to understand if a correlation exists between vendor size and notoriety and perceived product quality. Additionally, we want to <b>explore the behaviors</b> of diverse consumer bases, considering <b>temporal dimensions</b> (how these phenomena have evolved over the years and seasons within the same year) and <b>spatial dimensions</b> (how these relationships differ across states and countries).</p>
            </div>
         </div>
    </div>
</section>


<section class="section is medium has-text-centered">
    <h class="title is-3 is-uppercase ">
      Dive into our datasets
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
            <div class="content is-marginless has-text-left ">
                <p>The first step before tackling our story is to understand our datasets. Our main source of data is the BeerAdvocate dataset, that contains beer reviews from all over the world over a period that ranges between 1996 and 2017, collected on the website <a href="https://www.beeradvocate.com" target="_blank">BeerAdvocate.com</a>. After the preprocessing, the dataset contains 42'923 beers, 58'199users, 14'158 breweries and a total of 2'587'598 reviews, with both textual content and numerical rating.</p>
                <iframe src="assets/plot/Temporal.html" left="300px" width="820px" height="420px" frameborder="0" position="relative">Number of reviews and breweries by year</iframe>
                <p>Over the years, there has also been a noticeable shift in the lengths of reviews.</p>
                <iframe src="assets/plot/Histogram_review_length.html" left="300px" width="900px" height="470px" frameborder="0" position="relative">Number of reviews and breweries by year</iframe>
            </div>
         </div>
    </div>
<!--    <img src="{{site.baseurl}}/assets/plot/figures/EDA_review_length_distribution.png" style="margin: 1px; width: 35%; height: 35%;" >-->

    <div class="columns is-centered">
        <div class="hero-body column is-three-fifths">
                <div class="content is-marginless has-text-left">
                    <p>It is interesting also to have a look at the geographical distribution of both breweries and reviewers.</p>
                    <p>As evident from the data, <b>there are significantly more breweries in the US</b> compared to other countries. Due to this notable concentration, we'll consider <b>each US state as a distinct 'country'</b>. Additionally, we'll visualize the <b>global distribution of breweries</b> to gain a comprehensive understanding of their geographical spread.</p>
                    <iframe src="assets/plot/map_colorpleth_brewery.html"  width="810px" height="420px" frameborder="0" position="relative"></iframe>
                    <p>We can apply a similar analysis to the <b>user data</b>, in order to see whether or not a geographical similarity can be observed between the distribution of breweries and the distribution of users who give reviews.</p>
                    <iframe src="assets/plot/map_colorpleth_reviewer.html" width="810px" height="420px" frameborder="0"  position="relative"></iframe>
                    <p>We can see that not only the majority of breweries but also the vast majority of reviewers are located in the USA. This is certainly a crucial factor that we will have to take into account in our future analysis.</p>
                    <p>We can also explore the <b>relative distance</b> between the reviewer and the brewery for each review.</p>
                    <iframe src="assets/plot/Histogram_relevant_distance.html" left="300px" width="900px" height="470px" frameborder="0" position="relative"></iframe>
                </div>
        </div>
    </div>
<!--    <img src="{{site.baseurl}}/assets/plot/figures/EDA_reviewer_distance_distribution.png" style="margin: 1px; width: 35%; height: 40%;" >-->

  </section>