<section class="section is medium has-text-centered", id="metrics">
    <h class="title is-2 is-uppercase ">
      Metrics Definition
    </h>
    <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
                  <div class="content is-marginless has-text-left">
                      <p>Content</p>
<!--                      <div class="has-text-centered">-->
<!--                        <p>The distribution of number of breweries</p>-->
<!--                        <iframe src="assets/plot/map_colorpleth_brewery.html" left="300px" width="950px" height="420px" frameborder="0" position="relative">Genre plot</iframe>-->
<!--                      </div>-->
                  </div>
      </div>

    </div>

  </section>