<section class="section is medium has-text-centered", id="part1">
                  <h class="title is-2 is-uppercase ">
                      Geographical distribution of number of breweries
                  </h>
                  <hr class="has-background-black">
    <div class="columns is-centered">
         <div class="hero-body column is-three-fifths">
                  <div class="content is-marginless has-text-left">
                      <p>An attempt of formula: \[ x^2 + 5 = 10 \]</p>
                      <p>Bulma is a free class-based framework for CSS. It allows developers to implement CSS on web pages more efficiently than plain CSS. First released in 2016, Bulma has gained traction among front-end developers, enough to compete with other well-known CSS frameworks like Bootstrap.

Bulma is built on Flexbox, a CSS layout model that automatically adjusts the width of a page element based on the width of its container. Flexbox requires developers to write both HTML and CSS to create elements that adhere to this model. With Bulma, Flexbox behavior and most other things can be handled with HTML classes.</p>
<!--                      <p>The map using with a spherical view. However, the layer is of unifrom color</p>-->
<!--                      <div class="has-text-centered">-->
<!--                          <iframe src="assets/plot/map_globe.html" left="300px" width="800px" height="500px" frameborder="0" position="relative">Genre plot</iframe>-->
<!--                      </div>-->

                      <p> The coloreth map. GeoDataFrame can contain more field types than supported by most of the file formats. For example tuples or lists can be easily stored in the GeoDataFrame, but saving them to e.g. GeoPackage or Shapefile will raise a ValueError. Before saving to a file, they need to be converted to a format supported by a selected driver.
                      <div class="has-text-centered">
                        <p>The distribution of number of breweries</p>
                        <iframe src="assets/plot/map_colorpleth_brewery.html" left="300px" width="950px" height="420px" frameborder="0" position="relative">Genre plot</iframe>
                      </div>
                      <div class="has-text-centered">
                          <p>The distribution of number of reviewers</p>
                        <iframe src="assets/plot/map_colorpleth_reviewer.html" left="300px" width="950px" height="420px" frameborder="0" position="relative">Genre plot</iframe>
                      </div>


                  </div>
      </div>

    </div>

  </section>