<section class="hero is-fullheight", id="part3">
      <div class="hero-body">
          <div class="container has-text-centered" id="page-section">
              <div class="section">
                  <h1 class="title is-1 is-uppercase has-text-weight-bold">
                      Title of part3
                  </h1>
                  <hr class="has-background-black">
                  <div class="content is-marginless">
                      <p>Content part 3</p>
                  </div>
              </div>
          </div>
      </div>
  </section>