<section class="container has-text-centered", id="part2">
                  <h1 class="title is-1 is-uppercase has-text-weight-bold">
                      Some bar charts and histograms
                  </h1>
                  <hr class="has-background-black">
                  <div class="content is-marginless">
                      <p>The map using mapbox</p>
                      <iframe src="assets/plot/Temporal.html" left="300px" width="800px" height="470px" frameborder="0" position="relative">Genre plot</iframe>
                      <p>Some Macro distribution of metrics</p>
                      <iframe src="assets/plot/Histogram.html" left="300px" width="800px" height="470px" frameborder="0" position="relative">Genre plot</iframe>
                  </div>
  </section>