<!--  <section class="hero is-fullheight", id="part1">-->
<!--      <div class="hero-body">-->
<!--          <div class="container has-text-centered" id="page-section">-->
<!--              <div class="section">-->
<!--                  <h1 class="title is-1 is-uppercase has-text-weight-bold">-->
<!--                      Examples of maps-->
<!--                  </h1>-->
<!--                  <hr class="has-background-black">-->
<!--                  <div class="content is-marginless">-->
<!--                      <p>The map using with a spherical view. However, the layer is of unifrom color</p>-->
<!--                      <iframe src="assets/plot/map_globe.html" left="300px" width="800px" height="500px" frameborder="0" position="relative">Genre plot</iframe>-->
<!--                      <p> The coloreth map. GeoDataFrame can contain more field types than supported by most of the file formats. For example tuples or lists can be easily stored in the GeoDataFrame, but saving them to e.g. GeoPackage or Shapefile will raise a ValueError. Before saving to a file, they need to be converted to a format supported by a selected driver.-->
<!--                      <iframe src="assets/plot/map_colorpleth.html" left="300px" width="800px" height="650px" frameborder="0" position="relative">Genre plot</iframe>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </section>-->

  <section class="container has-text-centered", id="part1">
      <div class="hero-body">
                  <h class="title is-1 is-uppercase has-text-weight-bold">
                      Geographical distribution of number of breweries
                  </h>
                  <hr class="has-background-black">
                  <div class="content is-marginless">
                      <p>The map using with a spherical view. However, the layer is of unifrom color</p>
                      <iframe src="assets/plot/map_globe.html" left="300px" width="800px" height="500px" frameborder="0" position="relative">Genre plot</iframe>
                      <p> The coloreth map. GeoDataFrame can contain more field types than supported by most of the file formats. For example tuples or lists can be easily stored in the GeoDataFrame, but saving them to e.g. GeoPackage or Shapefile will raise a ValueError. Before saving to a file, they need to be converted to a format supported by a selected driver.
                      <iframe src="assets/plot/map_colorpleth.html" left="300px" width="800px" height="610px" frameborder="0" position="relative">Genre plot</iframe>
                  </div>
      </div>
  </section>