<section class="hero is-fullheight", id="part2">
      <div class="hero-body">
          <div class="container has-text-centered" id="page-section">
              <div class="section">
                  <h1 class="title is-1 is-uppercase has-text-weight-bold">
                      Title of part2
                  </h1>
                  <hr class="has-background-black">
                  <div class="content is-marginless">
                      <p>The map using leaflet</p>
                      <iframe src="assets/plot/map_leaflet.html" left="300px" width="800px" height="1200px" frameborder="0" position="relative">Genre plot</iframe>
                  </div>
              </div>
          </div>
      </div>
  </section>