<section class="hero is-fullheight", id="part3">
      <div class="hero-body">
          <div class="container has-text-centered" id="page-section">
              <div class="section">
                  <h1 class="title is-1 is-uppercase has-text-weight-bold">
                      Plotly map
                  </h1>
                  <hr class="has-background-black">
                  <div class="content is-marginless">
                      <p>Random text: GeoDataFrame can contain more field types than supported by most of the file formats. For example tuples or lists can be easily stored in the GeoDataFrame, but saving them to e.g. GeoPackage or Shapefile will raise a ValueError. Before saving to a file, they need to be converted to a format supported by a selected driver.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>